<form
  *ngIf="userForm"
  [formGroup]="userForm"
  (submit)="handleUser()"
  class="form"
>
  <div class="seccion">
    <h4 class="title">E-mail</h4>
    <input class="input"  formControlName="email" />

    <p
      class="control__error"
      *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.touched"
    >
      Email no válido o campo incompleto
    </p>
  </div>
  <div class="seccion">
    <h4 class="title">Contraseña</h4>
    <input class="input" type="password" formControlName="password"/>
    <p
      class="control__error"
      *ngIf="
        !userForm.get('password')?.valid
      "
    >
    Contraseña no válida (8 caracteres, mínimo 1 letra y 1 número) o campo incompleto
    </p>
  </div>

  <div class="seccion">
    <h4 class="title">Cuenta de empresa</h4>
    <input type="radio" name="rol" value="company" formControlName="rol" />
  </div>

  <div class="seccion">
    <h4 class="title">Nombre de la Empresa</h4>
    <input class="input" formControlName="nombre" />
    <p
      class="control__error"
      *ngIf="!userForm.get('nombre')?.valid && userForm.get('nombre')?.touched"
    >
      Campo incompleto
    </p>
  </div>

  <div class="seccion">
    <h4 class="title">Cif de la empresa</h4>
    <input class="input" formControlName="cif" />
    <p
      class="control__error"
      *ngIf="!userForm.get('cif')?.valid && userForm.get('cif')?.touched"
    >
    Cif no válido (letra en mayúscula) o campo incompleto
    </p>
  </div>

  <div class="seccion">
    <h4 class="title">Direccion de la empresa</h4>
    <input class="input" formControlName="direccion" />
    <p
      class="control__error"
      *ngIf="
        !userForm.get('direccion')?.valid && userForm.get('direccion')?.touched
      "
    >
    Campo incompleto
    </p>
  </div>

  <div class="seccion">
    <h4 class="title">Número</h4>
    <input class="input" formControlName="numero" />
    <p
      class="control__error"
      *ngIf="!userForm.get('numero')?.valid && userForm.get('numero')?.touched"
    >
    Campo incompleto
    </p>
  </div>

  <div class="seccion">
    <h4 class="title">Codigo postal</h4>
    <input  class="input"  formControlName="cp" />
    <p
      class="control__error"
      *ngIf="!userForm.get('cp')?.valid && userForm.get('cp')?.touched"
    >
    Campo incompleto
    </p>
  </div>

  <div class="seccion">
    <h4 class="title">Localidad de la empresa</h4>
    <input  class="input"  formControlName="localidad" />
    <p
      class="control__error"
      *ngIf="
        !userForm.get('localidad')?.valid && userForm.get('localidad')?.touched
      "
    >
    Campo incompleto
    </p>
  </div>

  <div class="seccion">
    <h4 class="title">Imagen de la empresa</h4>
    <input  class="input input--file"  formControlName="portada" type="file"/>
  </div>

  <div class="seccion">
    <h4 class="title">Capital de la empresa</h4>
    <input  class="input"  formControlName="capital" />
  </div>

  <div class="seccion">
    <h4 class="title">Numero de trabajadores de la empresa</h4>
    <input  class="input"  formControlName="trabajadores" />
  </div>

  <div class="seccion">
    <button type="submit">Enviar</button>
    <span *ngIf="hasFormError" class="control__error"
      >Hay errores en el formulario, revísalo</span
    >
    <span *ngIf="hasSuccess" class="control__success">
      Éxito creando el producto, puedes verlo en la
      <a [routerLink]="['../company-profile']">lista</a>
    </span>
  </div>
</form>
