.form{
  padding: 20px;
  width: 400px;
  background-color: #38b6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

.textarea{
  max-width: 300px;
  max-height: 70px;
}

.back{
  background-color:#0056b3 ;
}


