
  <form
  *ngIf="ofertForm"
  [formGroup]="ofertForm"
  (submit)="handleOfert()"
  enctype="multipart/form-data"
  class="form"
  >
  <div class="seccion_form">
    <h4 class="title">Puesto que demanda</h4>
    <input
    formControlName="puesto"
    class="input"
    >
    <p
    class="control__error"
    *ngIf="!ofertForm.get('puesto')?.valid
    && ofertForm.get('puesto')?.touched "
    >El campo es requerido</p>
  </div>

  <div class="seccion_form">
    <h4 class="title">Salario mensual</h4>
    <input
    formControlName="salario"
    class="input"
    >
  </div>

  <div class="seccion_form">
    <h4 class="title">Describe la oferta</h4>
    <textarea class="textarea"
    placeholder="Descripcion"
    formControlName="descripcion"
    ></textarea>
  </div>

  <div class="seccion_form">
    <h4 class="title">Selecciona el tipo de contrato</h4>
    <select
    formControlName="contrato"
    >
  <option
  *ngFor="let option of contratoOption"
  [value]="option.value">
  {{option.text}}</option>
  </select>
  <p
  class="control__error"
  *ngIf="!ofertForm.get('contrato')?.valid
  && ofertForm.get('contrato')?.touched "
  >El campo es requerido</p>
  </div>

  <div class="seccion_form">
    <h4 class="title">Seleccion el sector</h4>
    <select
    formControlName="sector">
      <option
      *ngFor="let option of sectorOption"
      [value]="option.value">
      {{option.text}}</option>
    </select>
    <p
    class="control__error"
    *ngIf="!ofertForm.get('sector')?.valid
    && ofertForm.get('sector')?.touched "
    >El campo es requerido</p>
  </div>

  <div class="seccion_form">
    <h4 class="title" >Añade una portada para tu oferta</h4>
    <input type="file"
    (change)="onFileSelected($event)"
    formControlName="portada"
    >
  </div>

  <div class="seccion_form">
    <h4 class="title">Agrega un número de telefono</h4>
    <input
    formControlName="telefono"
    class="input"
    >
    <p
    class="control__error"
    *ngIf="!ofertForm.get('telefono')?.valid
    && ofertForm.get('telefono')?.touched "
    >El campo es requerido</p>
  </div>

  <div class="seccion_form">
    <h4 class="title">Añade el email</h4>
    <input
    formControlName="email"
    class="input"
    >
    <p
    class="control__error"
    *ngIf="!ofertForm.get('email')?.valid
    && ofertForm.get('email')?.touched "
    >El campo es requerido</p>
  </div>

  <div class="seccion_form">
    <button type="submit">{{editMode ? 'Editar' :'Crear'}}</button>
    <button *ngIf="editMode" class="btn--delete">Eliminar</button>
    <span *ngIf="hasDeleted" class="control__success">Oferta eliminada con éxito</span>
    <span *ngIf="hasFormError" class="control__error">Hay errores en el formulario, revisalo</span>
    <span *ngIf="hasSuccess" class="control__success">
     Éxito creando la oferta
    </span>
  </div>
  <button class="back"
    (click)="returnToProfile()"
  >
    VOLVER AL PERFIL
  </button>
  </form>



