.empresa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  &__nombre {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  &__portada {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  &__cif {
    font-size: 16px;
    font-style: italic;
    color: #777;
    text-align: center;
  }
}
