<main class="main">
  <section class="section section__block1">
    <div class="container container__block1">
      <p class="text text__block1">La App de GoodJob, ha sido creada para que las empresas puedan publicar sus ofertas, registrando su usuario. También pueden crear y modificar nuevas ofertas. Los usuarios que naveguen por esta web podrán ver las ofertas, sus detalles, así como la empresa que hace la demanda de empleo.</p>
      <img class="img img__block1" src="../../../assets/mano.jpg" alt="busca empleo">
    </div>
  </section>

  <section class="section ">
    <div class="container">
      <p class="text">La App con la que encontrar un curro de la hostia. Acceso sin registro</p>
      <img class="img" src="../../../assets/entrevista.jpeg" alt="busca empleo">
    </div>

    <div class="container">
      <p class="text">Si tu empresa está buscando personas, aquí puedes promocionar tus ofertas de trabajo</p>
      <img class="img" src="../../../assets/empresarios.jpg" alt="busca empleo">
    </div>
  </section>

</main>
