<footer class="footer">
  <div class="seccion">
    <a href="https://www.google.com/" class="link link__icon"><span class="icon-icon-google"></span></a>
    <a href="https://es-es.facebook.com/" class="link link__icon"><span class="icon-icon-fb"></span></a>
    <a href="https://www.instagram.com/" class="link link__icon"><span class="icon-icon-ig"></span></a>
    <a href="https://es.linkedin.com/" class="link link__icon"><span class="icon-icon-lkdn"></span></a>
  </div>
  <div class="seccion"><img  class="img" src="./../../../../assets/GoodJob.png" alt=""></div>
  <div class="seccion"><a [routerLink]="['aboutme']" class="link">About Me</a></div>
</footer>

