
.ofert {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;

}
.puesto {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.img {
  max-width: 100%;
  margin-bottom: 10px;
}

.salario {
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  background-color: #38b6ff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

